html {
  min-height: 100%;
  height: 100%;
  width: 0 auto;
}

body {
  background: linear-gradient(to bottom right ,#ff7241, #ff4a1f);
}

.background {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
        width: 200px;
        height: 200px;
        background-color: #FFA500;
        position: absolute; /*Can also be `fixed`*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
  border: 5px solid #FFA500;
  background-image: url("../9FB0F5E6-E05B-4E05-AA0B-47209E11FF9C.png") 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
