html {
  min-height: 100%;
  height: 100%;
  width: 0 auto;
}

body {
  background: linear-gradient(to bottom right ,#22c1c3, #fdbb2d);
}

.exactCenter {
      width:200px;
      height:200px;
      position: fixed;
      border: 10px solid rgb(255, 255, 255);
      border: 10px solid rgba(255, 255, 255, .15);top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -100px;
    }

.div1
    {
      width: 80%;
      height:70%;
      /* background-color:#A52A2A; */
      margin: 0 auto;
      background-image: url("../9FB0F5E6-E05B-4E05-AA0B-47209E11FF9C.png");
      background-size: contain;
      background-repeat: no-repeat;
      Background-position: center;
      bottom: 0px;
    }
    .div2
    {
      width: 100%;
      height:30%;
      /* background-color:#FFA500; */
      margin: 0 auto;
      text-align: center;
      font-family: 'Overpass', sans-serif;  
      font-size: 8vw;
      position:relative;
      top:-25px;
    }
    .div3
    {
      width: 50%;
      height:70px;
      background-color:#008000 ;
      margin: 0 auto;
    }


@media only screen and (min-width: 800px) {
  .exactCenter {
      width:300px;
      height:300px;
      position: fixed;
      border: 15px solid rgb(255, 255, 255);
    border: 15px solid rgba(255, 255, 255, .15);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */top: 50%;
      left: 50%;
      margin-top: -150px;
      margin-left: -150px;
      letter-spacing: -6px;
      font-size: 4vw;
    }
}

@media only screen and (min-width: 1200px) {
  .exactCenter {
      width:400px;
      height:400px;
      position: fixed;
            border: 20px solid rgb(255, 255, 255);
    border: 20px solid rgba(255, 255, 255, .15);top: 50%;
      left: 50%;
      margin-top: -200px;
      margin-left: -200px;
      letter-spacing: -6px;
      font-size: 4vw;
    }
}
